<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="parallel_beam_gantry">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import parallel_beam_gantry urdf file -->
    <xacro:include filename="$(find gantry)/urdf/urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="parallel_beam_gantry.ros2_control.xacro" />


    <xacro:parallel_beam_gantry_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
